#app{
  height: 100%;
}
.layout-header{
  height: 44px;
  border-bottom: 1px solid rgb(240, 240, 240);
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
}
.layout-menu-user{
  padding: 5px 10px 5px 0;
  cursor: pointer;
}
.layout-menu-user img.avatar{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin:0 5px;
  vertical-align: middle;
}
.layout-sidebar{
  float: left;
  height: calc(100% - 44px);
  background-color: #263c4e;
}
.layout-title{
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  font-size: 14px;
}
.layout-contentbox{
  overflow-y: scroll;
  padding: 20px;
  height: calc(100% - 44px);
}
.header-logo{
  height: 32px;
  margin: 4px 0 4px 20px;
}
.ant-menu-dark-blue{
  background: rgb(38, 60, 78);
  color: #fff;
}
.ant-menu-dark-blue .ant-menu-inline.ant-menu-sub{
  background: rgb(34, 52, 68);
}
.ant-menu-dark-blue .ant-menu-item > a{
  color:inherit;
}
.ant-menu-dark-blue .ant-menu-item-group-title,
.ant-menu-dark-blue .ant-menu-inline.ant-menu-sub,
.ant-menu-dark-blue .ant-menu-item-group{
  color: #fff;
}
.ant-menu-dark-blue .ant-menu-item:hover,
.ant-menu-dark-blue .ant-menu-submenu-title:hover{
  background: rgb(0, 182, 232);
}
.ant-menu-dark-blue .ant-menu-item-selected,
.ant-menu-dark-blue .ant-menu-inline .ant-menu-selected,
.ant-menu-dark-blue .ant-menu-inline .ant-menu-item-selected{
  background: rgb(0, 182, 232);
  color: #fff;
}
.breadcrumb-wrapper{
  padding-bottom: 15px;
}
.ant-modal-body{
  max-height: 500px;
  overflow-y: scroll;
}
/*reset bootstrap's style*/
label{display: inline-block;}
